h1 {
  text-align: center;
  margin-top: 50px;
}

.products-grid {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.filter {
  margin: 4rem;
}

app-product-card {
  margin: 0 auto;
}
